<div id="header">
    <div id="logo">
        <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="/">textured<span
                    class="logo_colour">_stars</span></a></h1>
            <h2>Быстро. Просто. Доступно</h2>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li class="selected"><a href="/">Все материалы</a></li>
            <li><a href="/examples/">Примеры материалов</a></li>
            <li><a href="/page/">Страница</a></li>
            <li><a href="/another_page/">Еще одна</a></li>
            <li><a href="/contact/">Контакты</a></li>
        </ul>
    </div>
</div>