<div id="header">
    <div id="logo">
        <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="/">Портал <span
                    class="logo_colour">StrangeBrains</span></a></h1>
            <h2>Быстро. Просто. Доступно</h2>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
            <li class="selected"><a href="/">Категории курсов</a></li>
            <li><a href="/course-list/">Список доступных курсов</a></li>
            <li><a href="/study-programs/">Учебная программа</a></li>
            <li><a href="/create-course/">Создать курс</a></li>
        </ul>
    </div>
</div>
